pysc2==3.0.0
tensorflow==2.7.0
h5py==3.1.0
scipy==1.6.3
opencv-python==4.5.2.54
keras==2.4.3
scikit-learn==0.24.2
pandas==1.2.4
more-itertools==8.8.0
python-utils==2.5.6
Theano==1.0.5
aiohttp==3.7.4
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet
future==0.18.2
idna==2.10
multidict==5.1.0
numpy==1.19.3
pipenv==2021.5.29
portpicker==1.4.0
protobuf==3.17.3
psutil==5.8.0
pyglet==1.5.15
requests==2.25.1
burnysc2==5.0.11
six==1.15.0
s2clientprotocol==4.10.2.76052.0
termcolor==1.1.0
urllib3==1.26.5
virtualenv==20.4.7
virtualenv-clone==0.5.4
websockets==9.1
yarl==1.6.3
uvloop==0.15.2
aiohttp-jinja2==1.4.2
opencv-contrib-python==4.5.2.54
opencv-python==4.5.2.54
imutils==0.5.4
jinja2==3.0.1
gym==0.18.3
torch==1.8.1
torchvision==0.9.1
torch_optimizer==0.1.0
sqlalchemy==1.4.18
loguru==0.5.3
scikit-image==0.18.1
tqdm==4.61.0
