pysc2
tensorflow==1.14.0
h5py==2.10.0
scipy
opencv-python
keras==2.3.1
scikit-learn==0.22.2 # until sharpy upgrades their dependencies 
pandas
more-itertools
python-utils
Theano
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
future==0.17.1
idna==2.8
multidict==4.5.2
numpy==1.20.0
pipenv==2018.11.26
portpicker==1.3.1
protobuf==3.9.1
psutil==5.7.2
pyglet==1.4.3
requests==2.24.0
burnysc2==0.12.12
six==1.12.0
s2clientprotocol==4.10.2.76052.0
termcolor==1.1.0
urllib3==1.25.3
virtualenv==16.7.5
virtualenv-clone==0.5.3
websockets==7.0
yarl==1.3.0
uvloop
aiohttp-jinja2
opencv-contrib-python==4.1.1.26
opencv-python
imutils
jinja2
gym==0.10.5
torch==1.1.0
torchvision
torch_optimizer
sqlalchemy
loguru
scikit-image
tqdm
pyastar @ git+git://github.com/eladyaniv01/pyastar.git@master#egg=pyastar

