version: "3.9"
services:
  sc2:
    restart: unless-stopped
    image: aiarena/arenaclient-sc2-base:${VERSION:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.sc2

  bot:
    restart: unless-stopped
    image: aiarena/arenaclient-bot-base:${VERSION:-latest}
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.bot
  # For updating the uv.lock file, based off the bot image
  uv-update:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.bot
    volumes:
      - ../uv.lock:/root/uv.lock
      - ../pyproject.toml:/root/pyproject.toml
    working_dir: /root/
    command: bash -c "pip install uv && uv sync && uv export --format requirements.txt --no-hashes --no-header --no-annotate --no-cache -o requirements.txt"
